@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body {
    font-family: 'Outfit';
    margin: 0;
    background-color: #1C1B29;
    font-weight: 400; 
    line-height: 1.6;
    color: #E6E1FF;
}

html, .fullscreen {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    gap: 50px;
}

.card{
    display: inline-block;
    background-color: 1C1B29;
    border-radius: 10px;
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
    cursor: pointer;
    width: 250px;
    justify-content: center;
    padding: 5px;
}

.card:hover{
    background-image: linear-gradient(163deg, #ff00ff 0%, #3700ff 100%);
    box-shadow: 0px 0px 30px 1px rgba(204, 0, 255, 0.3);
    transform: scale(0.98);
}

.card-hf{
    display: inline-block;
    background-color: 1C1B29;
    border-radius: 10px;
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
    cursor: pointer;
    width: 250px;
    justify-content: center;
    padding: 5px;
}

.card-hf:hover{
    background-image: linear-gradient(163deg, #ff0000 0%, #ffe100 100%);
    box-shadow: 0px 0px 30px 1px rgba(255, 0, 0, 0.3);
    transform: scale(0.98);
}

.card-ca{
    display: inline-block;
    background-color: 1C1B29;
    border-radius: 10px;
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
    cursor: pointer;
    width: 250px;
    justify-content: center;
    padding: 5px;
}

.card-ca:hover{
    background-image: linear-gradient(163deg, #0015ff 0%, #ff1900 100%);
    box-shadow: 0px 0px 30px 1px rgba(0, 34, 255, 0.3);
    transform: scale(0.98);
}

.card-t{
    display: inline-block;
    background-color: 1C1B29;
    border-radius: 10px;
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
    cursor: pointer;
    width: 250px;
    justify-content: center;
    padding: 5px;
}

.card-t:hover{
    background-image: linear-gradient(163deg, #00bbff 0%, #1e00ff 100%);
    box-shadow: 0px 0px 30px 1px rgb(9, 3, 80);
    transform: scale(0.98);
}

.card-ds{
    display: inline-block;
    background-color: 1C1B29;
    border-radius: 10px;
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
    cursor: pointer;
    width: 250px;
    justify-content: center;
    padding: 5px;
}

.card-ds:hover{
    background-image: linear-gradient(163deg, #ff0000 0%, #ffa200 100%);
    box-shadow: 0px 0px 30px 1px rgb(9, 3, 80);
    transform: scale(0.98);
}

.card-hf{
    display: inline-block;
    background-color: 1C1B29;
    border-radius: 10px;
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
    cursor: pointer;
    width: 250px;
    justify-content: center;
    padding: 5px;
}

.card-hf:hover{
    background-image: linear-gradient(163deg, #ff0000 0%, #060606 100%);
    box-shadow: 0px 0px 30px 1px rgb(9, 3, 80);
    transform: scale(0.98);
}

.card-sm{
    display: inline-block;
    background-color: 1C1B29;
    border-radius: 10px;
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
    cursor: pointer;
    width: 250px;
    justify-content: center;
    padding: 5px;
}

.card-sm:hover{
    background-image: linear-gradient(163deg, #ff0000 0%, #000d81 100%);
    box-shadow: 0px 0px 30px 1px rgba(0, 34, 255, 0.3);
    transform: scale(0.98);
}





.card-content{
    background-color: #3A3565;
    height: auto;
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    padding: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-bottom: 0;
    transition: all 0.25s cubic-bezier(0, 0, 0, 1);
}

.card-content h4:hover{
    color: #9F82FF;
}


.card-img{
    height: 210px;
    width: 210px;
    border-radius: 5px;
    object-fit: cover;
    margin: 0 auto;
}

.card-h4{
    color: #E6E1FF;
    font-weight: 600;
    margin: 10px 0;
    line-height: 1.2;
}

.card-p-cinza{
    color: #C9C5E3;
    font-size: 12px;
    font-weight: 300;
    
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center; 
    line-height: 0.5;            
}

.card-power{
    display: flex;
    align-items: center; 
    width: 100px;
    text-align: left;       
}

.card-img-power{
    position: relative;
    width: 18px;
    height: 18px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-right: 10px; 
}

.card-img-power img{
    width: 100%; 
    height: 100%;
}

.card-p-power{
    flex-grow: 1;
    height: 10px;
    background-color: #c1b6fa;
    border-radius: 10px;
    overflow: hidden;
}

.power-level {
    width: 100%;
    height: 10px;
    background-color: #c1b6fa;
    border-radius: 10px;
    overflow: hidden;
}
  
.power-bar {
    height: 100%;
    width: 10%;
    background-color: #c1b6fa;
    transition: width 0.5s ease, background-color 0.5s ease;
}

.tooltip {
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #c1b6fa;
    color: #2f2e47;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s ease;
    white-space: nowrap;
}
  
.card-img-power:hover .tooltip {
    opacity: 1;
    visibility: visible;
}


.card-location{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-end; 
}

.card-line{
    width: 100%;
    height: 1px; 
    background-color: rgba(255, 255, 255, 0.2); 
    margin: 10px 0; 
}

.card-created{
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 0.85em;
    color: #b0b0b0;
    margin: 0;
}

.card-img-created img{
    width: 25px; 
    height: 25px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 8px;
    border: 1px solid #E6E1FF;
}

.card-p-created{
    color: #C9C5E3;
    font-size: 11px;
    font-weight: 300;
    line-height: 0.5;
    margin: 0;
}

.card-p-created a{
    color: #E6E1FF;
    text-decoration: none;
}